### Add your supplemental ignored files below this line
### Added by .... YYYY-MM-DD


### WebStorm force ignore the .idea folder and all its contents
### Added by Adrian Gould 2023-08-01
.idea
.idea/
.idea/*
.idea/**

.evidence
.evidence/*
